body {
    height: 100vh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
    font-family: Roboto, sans-serif;
    display: flex;
    flex-direction: column;
}

header {
    background-color: #1f2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10%;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
}

li, a {
    font-size: 18px;
    color: #e5e7eb;
    text-decoration: none;
}

.nav_links {
    list-style: none;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20% 30%;
}

.hero-left {
    flex: 1;
}

.hero-right-image {
    flex: 1;
}